.announcementcard {
  background: rgb(235, 233, 233);
  padding: 10px;
  margin-block: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  
}
.link-announce {
  align-self: center;
  width: 100%;
  overflow-wrap: break-word;
}