#footer {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  width: auto;
}
#footer-parag {
  margin: 20px;
}
#mail {
  color: blue;
}
#base {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 0.9em;
}
#whole-foot {
  background-color: white;
}
#logo {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cognicor-logo {
  width: 200px;
  height: auto;
}
@media (max-width: 800px) {
  #footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #logo {
    width: 100px;
  }
}
