.profile-Holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 270px;
    max-width: 270px;
    margin: 30px;
    margin-left: 20px;
    padding: 15px;
    background-color: aliceblue;
    border-radius: 5px;
    border-right: black solid 2px;
    border-bottom: black solid 2px;
    box-shadow: 1px 1px 4   px #888888;
    /* transform-style: preserve-3d;
    transform: perspective(1000px); */
}
.profilepic {
    display: flex;
    justify-content: center;
}
#profilepicture {
    border-radius: 50px;
    transform: translateZ(30px);
    width: 100px;
    height: 100px;
}
.description-team {
    display: flex;
    justify-content: center;
}