.team-hold-multi-inside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#team-sub-head {
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}