.team-hold-multi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
}
#team-sub-head {
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}