@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap');



Navbar  {
    text-align: center;
}
body {
font-family: "Roboto Mono";
scroll-behavior: auto;
}

/* .buttons-nav {
    position: absolute;
    right: 10vw;
    border:black solid;
    border-width: 1px;
    border-radius: 4px;
}
.buttons-nav:hover {
    background-color: rgba(0, 0, 0, 0.198); */


.car{
    display: block;
    height: 85vh;
    width: auto;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 15%;
}
.carousel{
    margin: 30px;
}
.announcement{
    position: absolute;
    top:30vh;
    right: 5vw;
    height: 50vh;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    z-index: 9;
    background-color: #ffff;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    border-right: solid black ;
    border-width: 5px;
    z-index: 10;
    
}
a {
    text-decoration: none;
    color: black;
}

/* .navtext {
    padding-bottom: 0.5rem;
    position: relative;
    margin: 30px;
}

.navtext::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: scale(0,1);
    height: 2px;
    background-color: darkblue;
    transition: transform 0.3s ease;
}
.navtext:hover::after {
    transform: scale(1,1);
} */
.head-announce{
    font-family: sans-serif;
    transform: translateZ(10px)
}
.announce {
    
    width: 150px;
    border-radius: 2px;
    padding: 10px;
    transition: background 0.23s ease-in;
    

}
.announce:hover {
    background: black;
    color: white;
}
.carouselrule {
    height: 3px;
    width: 90vw;
    margin-top: 30px;
    margin-bottom: 30px;
    background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    border: none;
    background-size: 200% auto;
    animation: gradientmove 30s infinite linear;
}
.about-txt {
    color: white;
}
.about-txt:hover
{
    background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    background-size: 200% auto;
    background-clip: text;
    color: transparent;
    animation: gradientmove 8s infinite linear;
}
#event-txt-head:hover{
    background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientmove 8s infinite linear;
    height: 100%;
}

@keyframes gradientmove {
    to {
        background-position: -200% center;
      }
}

.about-image-hold{
    width: auto;
    height: 30vh;
    display: flex;
}
.about-image{
    border-radius: 4px;
}
.about-content-hold {
    width:30vw;
}
.about-content {
    width:30vw;
    color: white;
}
.about-txt-hold {
    
    margin-left: 10vw;
    opacity: 20px;
}

.about-txt-hold {
    padding: 20px;
}
.about {
    
    height:50vh;
    background-color: #222222;
    border-radius: 5px;
}
.about-content-image {
    display: flex;
    justify-content: space-around;
}
::-webkit-scrollbar
{
    width: 0;
}
.event
{
    padding: 5vw;
    background-color: gainsboro;
}
.event-hold-multi {
    display: flex;
    overflow-x: auto;
}
.team
{
    padding: 5vw;
    background-color: #222222;
}
.team-hold-multi {
    display: flex;
    overflow-x: auto;
}
#team-txt {
    color: white;
}
#team-txt:hover {
    background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientmove 8s infinite linear;
}
.faculties{
    display: flex;
    justify-content: right;
}
.student{
    display: flex;
    justify-content: right;
}
#faculties-txt {
    color: white;
}
#student-txt {
    color: white;
}
.event-head {
    padding: 0px;
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    transition: background-color 0.23s ease-in;
}
.event-head:hover {
    background-color: #222222;
}
.equipments {
    background-color: gainsboro;
    padding: 5vw;
}

.equipment-holder {
    display: flex;
    justify-content: center;
    
}
#equipment-head:hover {
    background: linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientmove 5s infinite linear;
    font-size: 25px;
}
#equipment-head {
    font-size: 25px;
}
.equipment-heading {
    padding: 0px;
    width: 150px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    transition: background-color 0.23s ease-in;
}

.equipment-heading:hover {
    background: #222222;
}