@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap');



Navbar {
    text-align: center;
}

body {
    font-family: "Roboto Mono";
    scroll-behavior: auto;
}




.car {
    height: 85vh;
    width: auto;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 15%;
}

.carousel {
    margin: 30px;
}

.announcement {
    position: absolute;
    padding: 30px;
    top: 30vh;
    right: 5vw;
    height: 50vh;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    z-index: 9;
    background-color: #ffff;
    width: 400px;
    border-radius: 10px;
    border-right: solid black;
    border-width: 5px;
    z-index: 10;

}

a {
    text-decoration: none;
    color: black;
}

.navtext {
    padding-bottom: 0.5rem;
    position: relative;
    margin: 30px;
}


.head-announce {
    font-family: sans-serif;
    transform: translateZ(10px)
}

.announce {

    width: 150px;
    border-radius: 2px;
    padding: 10px;
    transition: background 0.23s ease-in;
}

.announce:hover {
    background: black;
    color: white;
}

.carouselrule {
    height: 3px;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    background: linear-gradient(271deg, #a0e9ff 30%, #a162e8 50%, #f093b0 70%, #edca85 94%);
    border: none;
    background-size: 200% auto;
    animation: gradientmove 30s infinite linear;
}

.about-txt {
    color: white;
}

.about-txt:hover {
    background: linear-gradient(271deg, #a0e9ff 30%, #a162e8 50%, #f093b0 70%, #edca85 94%);
    background-size: 200% auto;
    background-clip: text;
    color: transparent;
    animation: gradientmove 8s infinite linear;
}

#event-txt-head:hover {
    background: linear-gradient(271deg, #a0e9ff 30%, #a162e8 50%, #f093b0 70%, #edca85 94%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientmove 8s infinite linear;
    height: 100%;
}

@keyframes gradientmove {
    to {
        background-position: -200% center;
    }
}

.about-image-hold {
    width: auto;
    height: 30vh;
    display: flex;
}

.about-image {
    border-radius: 4px;
}

.about-content-hold {
    width: 30vw;
}

.about-content {
    width: 30vw;
    color: white;
}

.about-txt-hold {

    margin-left: 10vw;
    opacity: 20px;
}

.about-txt-hold {
    padding: 20px;
}

.about {

    height: auto;
    padding: 30px;
    background-color: #111;
    border-radius: 5px;
}

.about-content-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0;
}

.event {
    padding: 5vw;
    background-color: gainsboro;
}

.event-hold-multi {
    display: flex;
    overflow-x: auto;
}

.team {
    padding: 5vw;
    background-color: #111;
}

.team-hold-multi {
    display: flex;
    overflow-x: auto;
}

#team-txt {
    color: white;
}

#team-txt:hover {
    background: linear-gradient(271deg, #a0e9ff 30%, #a162e8 50%, #f093b0 70%, #edca85 94%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientmove 8s infinite linear;
}

.faculties {
    display: flex;
    justify-content: right;
}

.student {
    display: flex;
    justify-content: right;
}

#faculties-txt {
    color: white;
}

#student-txt {
    color: white;
}

.event-head {
    padding: 0px;
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    transition: background-color 0.23s ease-in;
}

.event-head:hover {
    background-color: #222222;
}

.equipments {
    background-color: gainsboro;
    margin-bottom: 0px;
}

.equipment-holder {
    display: flex;
    overflow-x: auto;
    margin-top: 0vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 0;

}

#equipment-head:hover {
    background: linear-gradient(271deg, #a0e9ff 30%, #a162e8 50%, #f093b0 70%, #edca85 94%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientmove 5s infinite linear;
    font-size: 25px;
}

#equipment-head {
    font-size: 25px;
}

.equipment-heading {
    padding: 0px;
    width: 150px;
    margin: 5vw;
    display: flex;
    justify-content: center;
    background-color: transparent;
    transition: background-color 0.23s ease-in;
}

.equipment-heading:hover {
    background: #222222;
}

.grid {
    background: #111;
    margin-top: 0px;
    border-radius: 7px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-block {
    width: 50%;
    min-height: 11.25rem;
    margin: 8px;
    flex: 25%;
    max-width: 28%;
    padding: 20px;

}
.image-grid-holder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.image-grid {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin-top: 8px;
    vertical-align: middle;
}

.image-grid .tile-link:hover .tile-img {
    top: -1rem;
    left: -1rem;
}

.image-grid .tile-img {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transition-property: opacity, top, left, box-shadow;
    transition-property: opacity, top, left, box-shadow;
}

.tile-link {
    display: block;
}

.tile-link:hover .tile-img {
    opacity: 1;
}

.tile-link:hover .tile-img-link {
    display: block;
}

.tile-link:hover .tile-img-link:hover .tile-img {
    opacity: 0.5;
}

.tile-img {
    display: block;
    width: 384px;
    height: 216px;
    object-fit: cover;
    opacity: 1;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.125s;
    transition-duration: 0.125s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.tile-link:hover .tile-img1 {
    grid-column-start: 1;
    grid-column-end: 3;
    box-shadow: 5px 5px rgba(244, 170, 200, 0.4),
        10px 10px rgba(244, 170, 200, 0.3), 15px 15px rgba(244, 170, 200, 0.2),
        20px 20px rgba(244, 170, 200, 0.1), 25px 25px rgba(244, 170, 200, 0.05);
}

.tile-link:hover .tile-img2 {
    box-shadow: 5px 5px rgba(45, 186, 233, 0.4), 10px 10px rgba(45, 186, 233, 0.3),
        15px 15px rgba(45, 186, 233, 0.2), 20px 20px rgba(45, 186, 233, 0.1),
        25px 25px rgba(45, 186, 233, 0.05);
}

.tile-link:hover .tile-img3 {
    box-shadow: 5px 5px rgba(214, 221, 244, 0.4),
        10px 10px rgba(214, 221, 244, 0.3), 15px 15px rgba(214, 221, 244, 0.2),
        20px 20px rgba(214, 221, 244, 0.1), 25px 25px rgba(214, 221, 244, 0.05);
}

.tile-link:hover .tile-img4 {
    box-shadow: 5px 5px rgba(82, 119, 192, 0.4), 10px 10px rgba(82, 119, 192, 0.3),
        15px 15px rgba(82, 119, 192, 0.2), 20px 20px rgba(82, 119, 192, 0.1),
        25px 25px rgba(82, 119, 192, 0.05);
}

.tile-link:hover .tile-img5 {
    box-shadow: 5px 5px rgba(138, 218, 245, 0.4),
        10px 10px rgba(138, 218, 245, 0.3), 15px 15px rgba(138, 218, 245, 0.2),
        20px 20px rgba(138, 218, 245, 0.1), 25px 25px rgba(138, 218, 245, 0.05);
}

.tile-link:hover .tile-img6 {
    box-shadow: 5px 5px rgba(203, 215, 193, 0.4),
        10px 10px rgba(203, 215, 193, 0.3), 15px 15px rgba(203, 215, 193, 0.2),
        20px 20px rgba(203, 215, 193, 0.1), 25px 25px rgba(203, 215, 193, 0.05);
}

.tile-link:hover .tile-img7 {
    box-shadow: 5px 5px rgba(91, 209, 250, 0.4), 10px 10px rgba(91, 209, 250, 0.3),
        15px 15px rgba(91, 209, 250, 0.2), 20px 20px rgba(91, 209, 250, 0.1),
        25px 25px rgba(91, 209, 250, 0.05);
}

.tile-link:hover .tile-img8 {
    box-shadow: 5px 5px rgba(145, 156, 196, 0.4),
        10px 10px rgba(145, 156, 196, 0.3), 15px 15px rgba(145, 156, 196, 0.2),
        20px 20px rgba(145, 156, 196, 0.1), 25px 25px rgba(145, 156, 196, 0.05);
}

.tile-link:hover .tile-img9 {
    box-shadow: 5px 5px rgba(188, 97, 129, 0.4), 10px 10px rgba(188, 97, 129, 0.3),
        15px 15px rgba(188, 97, 129, 0.2), 20px 20px rgba(188, 97, 129, 0.1),
        25px 25px rgba(188, 97, 129, 0.05);
}

.tile-link:hover .tile-img10 {
    box-shadow: 5px 5px rgba(4, 140, 231, 0.4), 10px 10px rgba(4, 140, 231, 0.3),
        15px 15px rgba(4, 140, 231, 0.2), 20px 20px rgba(4, 140, 231, 0.1),
        25px 25px rgba(4, 140, 231, 0.05);
}

@media (max-width:1000px) {
    body {
        width: 100%;
    }

    .carousel {
        display: flex;
        flex-direction: column-reverse;
        padding: 0px;
    }

    .car {
        display: block;
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .announcement {
        margin-top: 10px;
        position: relative;
        top: -50px;
        left: 0;
        right: 0;
        display: block;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        background-color: aliceblue;
        color: black;
        border: none;
        padding: 30px;
    }

    .head-announce {
        transform: translateZ(0px);
    }

    .equipment-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-txt-hold {
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
    }

    .about-content-image {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .about-image-hold {
        height: auto;
    }

    .about-image {
        width: 50vw;
        height: auto;
    }

    .about-content {
        margin-top: 50px;
        width: 60vw;
        background-color: aliceblue;
        border-radius: 2px;
        color: black;
        padding: 20px;
    }

    .about-content-hold {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1313px) {
    .grid {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: start;
    }
    .image-grid-holder {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: start;
        justify-content: start;
        overflow-x: scroll;
    }
    .grid-block {
        display: flex;
        flex-direction: row;
        flex: 50%;
        max-width: 50%;
        padding: 50px;
    }

}

@media (max-width: 500px) {
    body {
        width: 100%;
    }
    .grid {
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
    }
    .grid-block {
        display: flex;
        flex-direction: row;
        flex: 100%;
        max-width: 100%;
    }
    .image-grid-holder {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: start;
        justify-content: start;
        overflow-x: scroll;
    }
}