.event-Holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 270px;
    margin: 30px;
    margin-left: 20px;
    padding: 15px;
    background-color: aliceblue;
    border-radius: 5px;
    border-right: black solid 2px;
    border-bottom: black solid 2px;
    box-shadow: 5px 5px 4px #888888;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
#thumbnail {
    border-radius: 3px;
    transform: translateZ(30px) 
}