.facilities-Holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
    margin: 30px;
    margin-left: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    border-right: black solid 2px;
    border-bottom: black solid 2px;
    box-shadow: 5px 5px 4px #888888;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
#facilities-thumbnail-image {
    width: 200px;
    height: auto;
    border-radius: 3px;
    transform: translateZ(30px) 
}
#facilities-title-text {
    font-family: sans-serif;
    font-weight: bold;
    color: black;
}
#event-desc {
    color: black;
}
#equipment-title {
    font-family: sans-serif;
    font-weight: bold;
}

#thumbnail-facility {
    width: 150px;
    height: auto;
    border-radius: 3px;
}

.thumbnail-facility-holder {
    display: flex;
    justify-content: center;
}
.equipment-title-holder {
    display: flex;
    justify-content: center;
}